body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
h1 {
  font-size: 5vw;
  color: darkgoldenrod;
}
#bulb {
  margin: 1rem;
  width: 16rem;
  height: 16rem;
  background-color: #e7cdcd;
  border-radius: 20rem;
}
button {
  margin-top: 1rem;
  border: 3px solid green;
  background-color: green;
  color: white;
  font-weight: 500;
  padding: 0.7rem;
  border-radius: 0.7rem;
}
